<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://awseb-e-4jf2vh9pp7-stack-awsebrdsdatabase-osx3armkomdw.c3uu2o062qfn.us-east-2.rds.amazonaws.com:3306/tattoo</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <property name="connection.username">ptaylor</property>
        <property name="connection.password">pjtaylor9!</property>

        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <mapping class="com.ptaylor.tattoosuggestions.entity.Suggestion"/>
        <mapping class="com.ptaylor.tattoosuggestions.entity.User"/>
        <mapping class="com.ptaylor.tattoosuggestions.entity.Style"/>

    </session-factory>

</hibernate-configuration>